@model Trilhas.Models.Evento.Relatorios.RelatorioListaPresencaViewModel

@{ Layout = "_LayoutRelatorio";}

<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lista De Presença Manual</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

	<link rel="stylesheet" href="~/css/relatorio.css">

	<script type="text/javascript">
		window.onload = function () {
			window.print();
		}
	</script>
</head>

<body>
	<div id="divCabecalho">
		<table id="cabecalho_2">
			<tr>
				<td>
					<strong>Curso: </strong>@Model.Evento.EventoNome
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<strong>Entidade Demandante: </strong>@Model.Evento.EntidadeNome
				</td>
			</tr>
			<tr>
				<td style="width: 65%;">
					<strong>Local: </strong>@Model.Evento.LocalNome
				</td>
				<td>
					<strong>Data: </strong>@Model.DataInicio.ToString("dd/MM/yyyy")
					<strong>&emsp;Hora: </strong>@Model.DataInicio.ToString("HH:mm") às @Model.DataFim.ToString("HH:mm")
				</td>
			</tr>
		</table>
	</div>

	<div id="div-tabela">
		<table id="listaCursista">
			<thead>
				<tr>
					<th style="width: 10%; padding-right: 5px;">NFUNC</th>
					<th style="width: 35%; padding-right: 5px;">Nome</th>
					<th style="width: 10%; padding-right: 5px;">CPF</th>
					<th style="width: 15%; padding-right: 5px;">Entidade</th>
					<th style="width: 30%; padding-right: 5px;">Assinatura</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var inscrito in Model.ListaInscritos)
				{
					<tr>
						<td class="linha">@inscrito.NumeroFuncional</td>
						<td class="linha">@inscrito.CursistaNome</td>
						<td class="linha">@inscrito.CursistaCPF</td>
						<td class="linha">@inscrito.EntidadeSigla</td>
						<td class="aling linha">_______________________________________________________________________</td>
					</tr>
					@if(Model.ListaInscritos.Count == 0)
					{
						<tr>
							<td colspan="5">Nenhum Cursista Inscrito.</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</body>
</html>